.header {
  height: 66px;
  -webkit-box-shadow: inset 0px -1px 0px #eaeaea;
          box-shadow: inset 0px -1px 0px #eaeaea;
  background-color: #fff;
}
.header__container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}
.header__link {
  color: #322b57;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.header__nav {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__btn {
  text-decoration: none;
  padding: 12px 33px;
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 15px;
}
.header__btn.green {
  background-color: #0da1a1;
  color: #fff;
  margin-right: 10px;
}
.header__btn.white {
  border: 1px solid #0da1a1;
  color: #0da1a1;
}
.header__logo {
  background: -webkit-gradient(linear, left top, left bottom, from(#30ce95), to(#a1d85a));
  background: linear-gradient(180deg, #30ce95 0%, #a1d85a 100%);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}